<div class="container">
    <app-background></app-background>
    <div class="card">
    <div class="card-body">
      <h2 id="registertext">Register for Collageify</h2>
      <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" class="form-control" placeholder="Enter your email" >
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter your username" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password" >
        </div>
        <div class="controls">
          <button type="submit" class="btn btn-primary" (click)="register()" >Sign Up</button>
          <button type="bu" class="btn btn-primary" (click)="back()">Back</button>
          <button></button>
        </div>
      </form>
    </div>
    </div>
</div>

